{% extends 'base.html' %} 

{% block additional_scripts %}
<script>
$( document ).ready(function() {
    
    $( "#raceID" ).change(function() {
        var url = new URL(window.location.href);
        url.searchParams.set("racesForEntries", $( "#raceID" ).val()); // setting your param
        var newUrl = url.href; 
        window.location.href = newUrl
    });
});

function changePrevious(newVal){
    const urlParams = new URLSearchParams(window.location.search);

    urlParams.set('previous', newVal);

    window.location.search = urlParams;
}
</script>

{% endblock additional_scripts %} 

{% block content %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <h2>Races </h2>
        </div>
        <div class="col text-end">
            <a href="/race/new" class="btn btn-primary ms-auto">Add new</a>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Race Number</th>
                <th scope="col">Date</th>
                <th scope="col">Race type</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Run race</th>
            </tr>
        </thead>
        <tbody>
            {% for race in races %}
            <tr>
                <td>{{race.RaceNumber}}</td>
                <td>{{race.Date|date}}</td>
                <td>{{race.get_RaceType_display}}</td>
                <td>
                    <a href="/race/edit/{{race.pk}}"><i class="fas fa-edit"></i></a>
                </td>

                <td><a href="/race/delete/{{race.pk}}"><i class="fas fa-trash"></i></a></td>
                <td><a href="/manage/run/{{race.pk}}"><i class="fas fa-2x fa-arrow-circle-right"></i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="col text-end">
        <a onClick="changePrevious({{newValueForPreviousParam}})" class="btn btn-sm btn-outline-secondary ms-auto">Show {{timespanBtn}} races</a>
    </div>

    <hr>

    <div class="row align-items-center">
        <div class="col">
            <h2>Racers </h2>
        </div>
        <div class="col text-end">
            <a href="/racers/new" class="btn btn-primary ms-auto">Add new</a>
        </div>
    </div>
    <div class="form-group">
        <label for="raceID">Select race</label>
        <select class="form-select" id="raceID">
                <option selected disabled hidden>SELECT RACE</option>
            {% for race in racesForEntries %}
                <option value="{{race.id}}"  {%if thisRace.id == race.id%}selected{%endif%}>{{race.Date}} race {{race.RaceNumber}}</option>
            {% endfor %}
        </select>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Helm name</th>
                <th scope="col">Crew name</th>
                <th scope="col">Class</th>
                <th scope="col">Sail Number</th>
                <th scope="col">Edit</th>
                {% comment %} <th scope="col">Delete</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for raceEvent in raceEvents %}
            <tr>
                <td>{{raceEvent.Racer.HelmName}}</td>
                <td>{{raceEvent.Racer.CrewName}}</td>
                <td>{{raceEvent.Racer.Boat.BoatName}}</td>
                <td>{{raceEvent.Racer.SailNumber}}</td>
                <td>
                    <a href="/racers/edit/{{raceEvent.Racer.pk}}"><i class="fas fa-edit"></i></a>
                </td>

                {% comment %} <td><a href="/racers/delete/{{raceEvent.Racer.pk}}"><i class="fas fa-trash"></i></a></td> {% endcomment %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}