{% extends 'base.html' %}
{% load extra_tags %}
{% block additional_css %}
<style>
    th {
        position: sticky;
        top: 0;
        background: #f8f9fa !important;
        z-index: 4;
    }
    
    .dropdownOption {
        font-size: 20px;
    }
    
    td {
        font-size: 20px;
    }

    @font-face {
        font-family: 'Curved Seven Segment 2';
        src: url('/static/fonts/subset-Curved-Seven-Segment-2.eot');
        src: url('/static/fonts/subset-Curved-Seven-Segment-2.eot?#iefix') format('embedded-opentype'),
             url('/static/fonts/subset-Curved-Seven-Segment-2.woff2') format('woff2'),
             url('/static/fonts/subset-Curved-Seven-Segment-2.woff') format('woff'),
             url('/static/fonts/subset-Curved-Seven-Segment-2.ttf') format('truetype'),
             url('/static/fonts/subset-Curved-Seven-Segment-2.svg#Curved-Seven-Segment-2') format('svg');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    
    .countdown {
        font-family: 'Curved Seven Segment 2';
    }

</style> {% endblock additional_css %} {% block additional_scripts %}
<script>
    const customSort = ({data, sortBy, sortField}) => {
        const sortByObject = sortBy.reduce((obj, item, index) => {
            return {
            ...obj,
            [item]: index
            }
        }, {})
        return data.sort((a, b) => sortByObject[a[sortField]] - sortByObject[b[sortField]])
    }

    function arrayMove(arr, string, diff) {
        fromIndex = arr.indexOf(string)
        toIndex = fromIndex - diff
        if (toIndex < 0 || toIndex > arr.length-1){
            return
        }
        var element = arr[fromIndex];
        arr.splice(fromIndex, 1);
        arr.splice(toIndex, 0, element);
        updateTable()
    }


    const raceID = '{{race.pk}}';

    customOrder = [];

    document.onload = updateTable();

    function setStart(timeDelta) {
        $.ajax({
            url: "/ajax/setStartTime/"+raceID,
            method: "POST",
            timeout: 0, 
            data: {
                'timedelta': timeDelta,
            }
        }).done(function(response) {
            location.reload()
        });
    }

    function clearStart() {
        if(confirm("Confirm you want to reset the start time")){
        $.ajax({
            url: "/ajax/setStartTime/"+raceID,
            method: "POST",
            timeout: 0,
            data: {
                'clear':true,
            }
        }).done(function(response) {
            location.reload()
        });
        }
    }

    function handleAddLap(id) {
        console.log(id);
        var currentTime = Math.round(Date.now() / 1000);

        $.ajax({
            url: "/ajax/addLap/",
            method: "POST",
            data: {
                raceEventID: id,
                raceID: raceID,
                change: '+1',
            },
            timeout: 0,
        }).done(function(response) {
            console.log(response);
            updateTable();
        });
    }

    function handleRemoveLap(id) {
        console.log(id);

        $.ajax({
            url: "/ajax/addLap/",
            method: "POST",
            data: {
                raceEventID: id,
                raceID: raceID,
                change: '-1',
            },
            timeout: 0,
        }).done(function(response) {
            console.log(response);
            updateTable();
        });
    }

    function handleFinish(id) {
        console.log(id);

        var currentTime = Math.round(Date.now() / 1000);

        $.ajax({
            url: "/ajax/changeStatus/",
            method: "POST",
            data: {
                raceEventID: id,
                raceID: raceID,
                status: '0',
            },
            timeout: 0,
        }).done(function(response) {
            console.log(response);
            updateTable();
        });
    }

    function handleUnfinish(id) {
        console.log(id);
        $.ajax({
            url: "/ajax/changeStatus/",
            method: "POST",
            data: {
                raceEventID: id,
                raceID: raceID,
                status: null,
            },
            timeout: 0,
        }).done(function(response) {
            console.log(response);
            updateTable();
        });
    }

    function handleRetire(id, name) {
        console.log(id);
        var r = confirm("Confirm you want to retire " + name);
        if (r == true) {
            $.ajax({
                url: "/ajax/changeStatus/",
                method: "POST",
                data: {
                    raceEventID: id,
                    raceID: raceID,
                    status: '1',
                },
                timeout: 0,
            }).done(function(response) {
                console.log(response);
                updateTable();
            });
        }
    }

    function handleDNS(id, name) {
        console.log(id);
        var r = confirm("Confirm you want to DNS " + name);
        if (r == true) {
            $.ajax({
                url: "/ajax/changeStatus/",
                method: "POST",
                data: {
                    raceEventID: id,
                    raceID: raceID,
                    status: '2',
                },
                timeout: 0,
            }).done(function(response) {
                console.log(response);
                updateTable();
            });
        }
    }

    function updateTable() {
        var settings = {
            url: "/ajax/results/" + raceID,
            method: "GET",
            timeout: 0,
        };

        $.ajax(settings).done(function(response) {
            if (! response.map((element) => element.Status).includes(null)){
                $('#finishedMessage').css('display','unset')
            }else{
                $('#finishedMessage').css('display','none')
            }
            customSort({data:response, sortBy:customOrder, sortField: 'id'})

            $("#resultsTable").empty();
            $.each(response, function(i, raceEvent) {
                console.log(raceEvent)
                const lapBtn = `
        <div class="btn-group">
            <button class="btn btn-primary btn-lg lapBtn" value=${raceEvent.id}>ADD LAP (${raceEvent.LapsComplete})</button>
            <button type="button" class="btn btn-lg btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item dropdownOption" onclick="handleRemoveLap(${raceEvent.id})">Remove lap</a></li>
            </ul>
        </div>
      `;

                const lapBtnDisabled = `
      <div class="btn-group">
          <button disabled class="btn btn-lg btn-outline-secondary" onclick=handleAddLap(${raceEvent.id})>ADD LAP (${raceEvent.LapsComplete})</button>
          <button disabled type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item dropdownOption" onclick="handleRemoveLap(${raceEvent.id})">Remove lap</a></li>
          </ul>
      </div>
    `;

                const finishBtn = `        
  <button class="btn btn-lg btn-primary" onclick=handleFinish(${raceEvent.id})>FINISH</button>
`;

                const finishBtnDisabled = `        
<button class="btn btn-lg btn-outline-secondary" onclick="handleUnfinish(${raceEvent.id})">Unfinish</a>
`;

                const optionsBtn = `<div class="dropdown">
<button class="btn btn-lg btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  RET/DNS
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item dropdownOption" onclick="handleRetire(${raceEvent.id
                    },'${raceEvent.Racer.HelmName}')">Retire</a></li>
    <li><a class="dropdown-item dropdownOption" onclick="handleDNS(${raceEvent.id
                    },'${raceEvent.Racer.HelmName}')">Did not start</a></li>
</ul>
</div>`;

                var $tr = $(`<tr id="racerRow${raceEvent.id}"">`).append(
                    $("<td>").html(`
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary" onClick="arrayMove(customOrder, '${raceEvent.id}', 1)"><i class="fas fa-sort-up"></i></button>
                        <button type="button" class="btn btn-secondary" onClick="arrayMove(customOrder, '${raceEvent.id}', -1)""><i class="fas fa-sort-down"></i></button>
                    </div>
                    `),
                    $("<td>").text(raceEvent.Racer.SailNumber + " (" + raceEvent.Racer.HelmName + ")"), //Sail No
                    $("<td>").text(raceEvent.Racer.Boat.BoatName), //Class
                    {% if race.StartTime %}

                    raceEvent.Status !== null ? $("<td>").append(lapBtnDisabled) : $("<td>").append(lapBtn), //lapBTN
                    raceEvent.Status !== null ?
                    $("<td>").append(finishBtnDisabled) :
                    $("<td>").append(finishBtn), //finishBTN
                    {% endif %}
                    $("<td>").append(optionsBtn), //Retire/dns
                );
                $("#resultsTable").append($tr);
            });
            if(customOrder.length==0){
                $('tr[id^="racerRow"]').each(function(){
                    customOrder.push(this.id.split("racerRow")[1]); 
                });
            }
            $('.lapBtn').click(function(){
                console.log('Lap button clicked')
                var btn = $(this);
                btn.prop('disabled', true);
                handleAddLap(btn.val())
                setTimeout(function(){
                    $(`.lapBtn[value="${btn.val()}"]`).prop('disabled', false);
                    btn.prop('disabled', false);
                }, 3000);
            })
        })  
    }

    {% if race.StartTime %}

    function str_pad_left(string,pad,length) {
        return (new Array(length+1).join(pad)+string).slice(-length);
    }
    
    let startTime = Math.round({{race.StartTime|timestamp}});

    function updateStartTime(){
        let currentTime = Math.round(Date.now() / 1000);
        let timeToDisplay = Math.abs(startTime-currentTime);
        var minutes = Math.floor(timeToDisplay / 60);
        var seconds = timeToDisplay - minutes * 60;
        let finalTime = str_pad_left(minutes,'0',2)+':'+str_pad_left(seconds,'0',2);

        if (currentTime < startTime) {
            // Countdown to start
            $('#countdownMessage').text('Time until start')
            $('#countdown').text(finalTime)
            
        } else {
            // Count up from start
            $('#countdownMessage').text('Time since start')
            $('#countdown').text(finalTime)
        }
    }

    $(document).ready(function() {
        updateStartTime()
        var intervalId = window.setInterval(function(){
            updateStartTime()
        }, 500);
    })
    {% endif %}
</script>{% endblock additional_scripts %}{% block content %}
<div class="row pb-3">
    <div class="col text-center">
        <h1>{{race.Date|date}} race {{race.RaceNumber}} ({{race.get_RaceType_display}})</h1>
        <a href="/manage" class="btn btn-primary"><i class="fas fa-undo-alt"></i> Back</a>
        {% if race.StartTime %}
            <button onclick="clearStart()" class="btn btn-outline-danger"><i class="fas fa-times"></i> Click to cancel start - {{race.StartTime|time:"TIME_FORMAT"}}</button>
        {% else %}
            <br>
            <h2> Click a button below to start the race: </h2>
            <button onclick="setStart(300)" class="btn btn-primary"><i class="fas fa-play-circle"></i> In 5 mins</button>
            <button onclick="setStart(240)" class="btn btn-primary"><i class="fas fa-play-circle"></i> In 4 mins</button>
            <button onclick="setStart(60)" class="btn btn-primary"><i class="fas fa-play-circle"></i> In 1 min</button>            
            <button onclick="setStart(0)" class="btn btn-primary"><i class="fas fa-play-circle"></i> Now</button>
            <h6>(these timings align with the starting sequence)</h6>
        {% endif %}
        
    </div>
</div>
{% if race.StartTime %}
<div class="row text-center">
    <h4 id="countdownMessage"></h4>
    <span class="countdown" id="countdown" style="font-size:6rem;line-height: 0.75em;"></span>
</div>
{% endif %}

<div class="row" id="finishedMessage" style="display:none">
    <h3>You have now finished all the boats. This has automatically been saved, so you can safely leave this page</h3>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Reorder</th>
            <th scope="col">Sail Number</th>
            <th scope="col">Class</th>
            {% if race.StartTime %}
            <th scope="col">Add Lap (laps completed)</th>
            <th scope="col">Finish</th>
            {% endif %}
            <th scope="col">RET/DNS</th>
        </tr>
    </thead>
    <tbody id="resultsTable">

    </tbody>
</table>
</div>

{% endblock content %}