{% extends 'base.html' %}

{% block content %}
<div class="col text-center">
<h2>Boats</h2>
    <a href="{% url 'boatNew' %}" class="btn btn-primary">Add new boat</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Boat Name</th>
            <th>PY Number</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for boat in object_list %}
        <tr>
            <td>{{ boat.BoatName }}</td>
            <td>{{boat.PyNumber}}</td>
            <td><a href="{% url 'boatEdit' boat.id %}">Edit</a></td>
            <td><a href="{% url 'boatDelete' boat.pk %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}