{% extends 'base.html' %} {% block additional_scripts %}
<script src="/static/ResultsR1.js"></script>{% endblock additional_scripts %} {% block additional_css %}
<style>
    th {
        position: sticky;
        top: 0;
        background: #f8f9fa!important;
        z-index: 4;
    }
    
    .dropdownOption {
        font-size: 20px;
    }
    
    td {
        font-size: 20px;
    }
</style> {% endblock additional_css %} {% block content %}



<body class="bg-light">
    <div class="container-fluid">
        {% include 'snippets/nav_bar_ood.html' %}
        <div class="row pb-3">
            <div class="col text-center">
                <h1>You are currently completing results for race 2</h1>
                <a class="btn btn-primary" href="/enterresults/2" role="button">Switch to Race 2</a>
                <a class="btn btn-primary" role="button">Start Race 1</a>
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sail Number</th>
                    <th scope="col">Class</th>
                    <th scope="col">Add Lap (laps completed)</th>
                    <th scope="col">Finish</th>
                    <th scope="col">RET/DNS</th>
                </tr>
            </thead>
            <tbody id="resultsTable">

            </tbody>
        </table>
    </div>
    {% endblock content %}