<!DOCTYPE html>
<html>

<head>
    <title>Dorchester Racing</title>

    <!-- Favicon config -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS and CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <script src="/static/ResultsR2.js"></script>
    <style>
        th {
            position: sticky;
            top: 0;
            background: #f8f9fa!important;
            z-index: 4;
        }
        
        .dropdownOption {
            font-size: 20px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#oodNavBar" aria-controls="oodNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="oodNavBar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/oodracesetup">Race Setup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/pylist">PY List</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/enterresults">Enter Results</a>
                    </li>
                </ul>
                <a class="btn btn-outline-secondary" href="/logout" role="button">Logout</a>
            </div>
        </nav>
        <div class="row pb-3">
            <div class="col text-center">
                <h1>You are currently completing results for race 2</h1>
                <a class="btn btn-primary" href="/enterresults/1" role="button">Switch to Race 1</a>

            </div>
        </div>


        <table class="table table-striped" style="table-layout: fixed;">
            <thead>
                <tr>
                    <th scope="col">Sail Number</th>
                    <th scope="col">Class</th>
                    <th scope="col" style="width:215px;">Add Lap (laps completed)</th>
                    <th scope="col">Finish after lapping mark</th>
                    <th scope="col">Finish before lapping mark</th>
                    <th scope="col">RET/DNS</th>
                </tr>
            </thead>
            <tbody id="resultsTable">

            </tbody>
        </table>
    </div>
</body>

</html>