{% extends 'base.html' %} {% block additional_scripts %}
<script type="text/javascript">
    const raceType = "HANDICAP"
</script>
<script src="/static/Results.js"></script>{% endblock additional_scripts %} {% block additional_css %}
<script type="text/javascript">
    function startRace() {
        var currentTime = Math.round(Date.now() / 1000);

        var settings = {
            url: "/api/startTime/" + raceID + "?startTime=" + currentTime,
            method: "POST",
            timeout: 0,
        };

        $.ajax(settings).done(function(response) {
            location.reload();
        });
    }

    function resetStartTime() {
        var settings = {
            url: "/api/startTime/" + raceID + "?startTime=0",
            method: "POST",
            timeout: 0,
        };
        var txt;
        var r = confirm("Confirm you want to clear the race start time");
        if (r == true) {
            $.ajax(settings).done(function(response) {
                location.reload();
            });
        }
    }
</script>
<style>
    th {
        position: sticky;
        top: 0;
        background: #f8f9fa !important;
        z-index: 4;
    }
    
    .dropdownOption {
        font-size: 20px;
    }
    
    td {
        font-size: 20px;
    }
</style> {% endblock additional_css %} {% block content %}



<body class="bg-light">
    <div class="container-fluid">
        {% include 'snippets/nav_bar_ood.html' %}
        <div class="row pb-3">
            <div class="col text-center">
                <h1>You are currently completing results for race 2 (Handicap)</h1>
                <a class="btn btn-primary mb-2" href="/enterresults/1" role="button">Switch to Race 1 (Handicap)</a> {% if startTime%}
                <h4>Current race began at <span id="startTime">{{startTime}}</span>
                    <button type="button" class="btn btn-danger mb-2" onclick="resetStartTime()">Reset start
                        time</button>
                </h4>{% else %} <a class="btn btn-primary mb-2" onclick="startRace()" role="button">Press to start
                    race</a> {% endif %}
            </div>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Sail Number</th>
                    <th scope="col">Class</th>
                    <th scope="col">Add Lap (laps completed)</th>
                    <th scope="col">Finish</th>
                    <th scope="col">RET/DNS</th>
                </tr>
            </thead>
            <tbody id="resultsTable">

            </tbody>
        </table>
    </div>
    {% endblock content %}