<!DOCTYPE html>
<html>

<head>
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="static/starttime.js"></script>
<link rel="stylesheet" href="static/RaceHome.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

<title>Album example for Bootstrap</title>

<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!-- Custom styles for this template -->
<link href="album.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <form action="https://racing.dorchestersailingclub.org.uk/editentry/{{id}}" method="post">
            <div class="form-group container">
                <h1>Sign In Sheet</h1>
                <p>Please fill in this form to participate in the race</p>
                <hr>

                <label for="name"><b>Name</b></label>
                <input class="form-control" type="text" placeholder="Enter Full Name" name="name" id="name"
                    value="{{name}}" required>

                <label for="Cname"><b>Crew Name</b></label>
                <input class="form-control" type="text" placeholder="Enter Full Name" name="Cname" id="Cname"
                    value="{{cName}}">

                <label for="sailNum"><b>Sail Number</b></label>
                <input class="form-control" type="number" placeholder="Enter Sail Number" name="sailNum" id="sailNum"
                    value="{{sailNo}}" required>

                <label for="class"><b>Boat Class</b></label>
                <select class="form-control" id="class" name="class">
                    {% for class in boat %}
                    {% if class==currentBoat %}
                    <option value={{class}} selected>{{class}}</option>
                    {%else%}
                    <option value={{class}}>{{class}}</option>
                    {%endif%}
                    {% endfor %}

                </select>

                <hr>

                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</body>

</html>