<!DOCTYPE html>
<html>

<head>
    <title>Dorchester Racing</title>

    <!-- Favicon config -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
    <link rel="manifest" href="/static/favicons/site.webmanifest">
    <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Bootstrap core meta data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS and CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</head>

<body class="bg-light">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavBar" aria-controls="mainNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="mainNavBar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/startingorder">Start Order</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/entries">Race Entries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/results">Results</a>
                    </li>
                </ul>
            </div>
        </nav>

        <hr>

        <form action="https://racing.dorchestersailingclub.org.uk/entries" method="post">
            <div class="form-group container">
                <h1>Sign In Sheet</h1>
                <p>Please fill in this form to participate in the race</p>
                <hr>

                <label for="name"><b>Name</b></label>
                <input class="form-control" type="text" placeholder="Enter Full Name" name="name" id="name" required>

                <label for="Cname"><b>Crew Name</b></label>
                <input class="form-control" type="text" placeholder="Enter Full Name" name="Cname" id="Cname">

                <label for="sailNum"><b>Sail Number</b></label>
                <input class="form-control" placeholder="Enter Sail Number" name="sailNum" id="sailNum" required>

                <label for="class"><b>Boat Class</b></label>
                <select class="form-control" id="class" name="class">
                    {% for class in boat %}
                    <option value="{{class}}">{{class}}</option>
                    {% endfor %}

                </select>

                <hr>

                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>

    </div>
</body>

</html>