{% extends 'base.html' %}  {% block additional_css %}
<!-- Custom styles for this template -->
<link href="/static/signin.css" rel="stylesheet"> {% endblock additional_css %} {% block content %}

<main class="form-signin text-center">
    <form class="form-signin" method="POST" style="margin-top:auto; margin-bottom: auto;">
        <img class="mb-4" src="\static\img\DSCpennant.png" alt="" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control rounded" placeholder="Password" name="pw" required/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" />
    </form>
</main>{% endblock content %}