{% extends 'base.html' %} {% block additional_scripts %}{% endblock additional_scripts %} {% block additional_css %} {% endblock additional_css %} {% block content %}
<div class="container">
    {% include 'snippets/nav_bar_ood.html' %}




    <form action="/oodracesetup" method="post">
        <div class="form-group">

            <label for="racelen"><b>Race Length (minutes)</b></label>
            <input class="form-control" type="number" placeholder="Enter Race Length" name="racelen" id="racelen" required="" min="10" value={{racelen}}>

            <label for="lastsignup"><b>Last Sign Up Time</b></label>
            <input class="form-control" type="time" placeholder="Enter Time For Last Sign Up" name="cutofftime" id="lastsignup" required="" value={{lastentry}}>

            <!-- <label for="racelen"><b>Max Laps</b></label>
                <input class="form-control" type="number" placeholder="Enter Maxium Laps" name="racedistance" id="racedistance"
                    required="" min="1" value={{laps}}> NOT NEEDED FOR PURSUIT RACE
 -->
            <hr>

            <button type="submit" class="btn btn-primary">Update Race Configuration</button>

        </div>


    </form>




    <div class="form-group">

        <body>
            current settings: Race length: {{racelen}} Last entry: {{lastentry}}
            <!-- Laps: {{laps}} -->
            <hr> {% if not empty %}
            <h2>Start times (provisional based on current entries)</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Boat Class</th>
                        <th scope="col">PY number</th>
                        <th scope="col">Time From Start (0 mins)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in timings %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {%endif%}

            <h2>Current Entries</h2>
            <a class="btn btn-primary" href="/oodsignup" role="button">Add New Entry</a> {% if not empty %}
            <a class="btn btn-primary" href="/clearAllEntries" onclick="return confirm('Confirm you want to remove all boats?')" role="button">Remove all entries</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Crew name</th>
                        <th scope="col">Sail Number</th>
                        <th scope="col">Class</th>
                        <th scope="col">Options</th>

                    </tr>
                </thead>
                <tbody>
                    {% for row in entries %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/editentry/{{row[0]}}">Edit</a>
                                    <a class="dropdown-item" href="/deleteentry/{{row[0]}}">Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No Boats Currently Entered</p>
            {% endif %}
        </body>
    </div>
</div>
{% endblock content %}