{% extends 'base.html' %} {% block content %}


<div class="container">
    {% include 'snippets/nav_bar_ood.html' %}
    <form method="post">
        <div class="form-group container">
            <h1>Edit PY for a class</h1>
            <p>Please fill in this form to edit the PY for a class</p>
            <hr>
            <script src="static/preventWhiteSpace.js"></script>
            <label for="Bname"><b>Boat Name</b></label>
            <input class="form-control" onkeypress="return AvoidSpace(event)" type="text" placeholder="Enter Boat Class" name="Bname" id="Bname" value="{{boat}}" required>

            <label for="PY"><b>PY</b></label>
            <input class="form-control" type="number" placeholder="Enter PY number" name="PY" id="PY" value="{{py}}">

            <hr>

            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
</div>
{% endblock content %}