{% extends 'base.html' %} {% block additional_scripts %}{% endblock additional_scripts %} {% block additional_css %} {% endblock additional_css %} {% block content %}

<div class="container">
    {% include 'snippets/nav_bar_ood.html' %}


    <div class="row pb-3">
        <div class="col text-center">
            <h1>Boat list</h1>
            <a class="btn btn-primary" href="/addpy" role="button">Add new boat</a>

        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Boat</th>
                <th scope="col">PY</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for row in pylist %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/pyedit/{{row[0]}}">Edit</a>
                            <a class="dropdown-item" href="/deletepy/{{row[0]}}">Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}