{% extends 'base.html' %} {% block content %}

<div class="container">
    {% include 'snippets/nav_bar.html' %}


    <div class="row pb-3">
        <div class="col text-center">
            <h1>Current Results (Provisional) for Race 2</h1>
            <a class="btn btn-primary" href="/results/1" role="button">Switch to Race 1</a>
            <h4>Most laps completed: {{mostLaps}}</h4>
        </div>
    </div>
    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Position</th>
                <th scope="col">Helm Name</th>
                <th scope="col">Crew Name</th>
                <th scope="col">Sail Number</th>
                <th scope="col">Class</th>
                {% if raceType == "HANDICAP" %}
                <th scope="col">Laps Complete</th>
                <th scope="col">Elapsed Time</th>
                <th scope="col">Corrected Time</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
            <tr>

                {% if raceType == "HANDICAP" %} {% if row['status']=="RET"%}
                <td>{{loop.index}} (RETIRED)</td>
                {%else%}
                <td>{{loop.index}}</td>
                {%endif%}
                <td>{{row["name"]}}</td>
                <td>{{row["crewName"]}}</td>
                <td>{{row["sailNo"]}}</td>
                <td>{{row["class"]}} ({{row['py']}})</td>
                <td>{{row["lapsComplete"]}}</td>
                <td>{{row["elapsedTime"]}}</td>
                <td>{{row["correctedTime"]}}</td>
                {%else%} {% if row['status']=="RET"%}
                <td>{{loop.index}} (RETIRED)</td>
                {%else%}
                <td>{{loop.index}}</td>
                {%endif%}
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                {%endif%}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}