{% extends 'base.html' %}  {% block additional_css %} {% endblock additional_css %} {% block content %}
<div class="container">
    {% include 'snippets/nav_bar.html' %}

    <hr>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Boat Class</th>
                <th scope="col">PY number</th>
                <th scope="col">Time From Start (0 mins)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}